/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../lib/font/khula-v4-latin/khula-v4-latin.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: transparent;
$brandGray: #4a4a4a;
$brandPink: #b7107c;
$brandPurple: #3a0085;;

$mainColor: $brandGray;
$headingColor: $brandGray;

$mainFontSize: 32px;
$mainFont: 'Khula', Helvetica, sans-serif;
$headingFont: 'Khula', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: 1px;
$headingTextTransform: uppercase;
$headingFontWeight: 700;
$linkColor: $brandPink;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.3em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal .small {
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; 
}

.reveal .element-outline {
    border: 1px solid rgba($mainColor,0.3);
}

.reveal section img {
    background: transparent;
    box-shadow: none;
    border: none;
}

// Intro Slide Style
.style-intro {
    background: darken($brandPink, 10%);
    
    section {
        h1, h2, h3, h4, h5, h6 {
            color: rgba( #fff, 0.75);
        }

        & {
            color: #fff;
        }
    }
}

// Section Slide Style
.style-section {
    background: rgba($brandGray, 0.25);
}

// Exercise Slide Style
.style-exercise {
    background: $brandGray;
    
    section {
        h1, h2, h3, h4, h5, h6 {
            color: rgba( #fff, 0.75);
        }

        & {
            color: #fff;
        }
    }
}

// Break Slide Style
.style-break {
    background: darken($brandPink, 10%);
    
    section {
        h1, h2, h3, h4, h5, h6 {
            color: rgba( #fff, 0.75);
        }

        & {
            color: #fff;
        }
    }
}